{% extends "base_template.html" %}

{% block main %}
<h1>Главная страница</h1>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Это сборник задач по программированию на языке Python.</h4>
    <p> Пользователь может: сдавать решения, управлять своими решениями.</p>
    <p>Администратор может: создавать задачи, редактировать, управлять пользователями, ставить оценки решениям
        пользователей.</p>
    <hr>
    <p>Тестовый админ: <br>
        3@a.ru<br>
        1</p>
</div>
<h3>Последние добавленые задачи:</h3>
{% for task in tasks%}
<div class="card">
    <div class="card-header">
        Тема: <a href="subjects/tasks/{{task.subject}}">{{task.subject}}</a>
    </div>
    <div class="card-body">
        <h3 class="card-title">{{task.title}} </h3>
        <p class="card-text word-wrap: break-word">
        <pre>{{task.content | safe}}</pre>
        </p>
    </div>
    <div class="card-footer text-muted">
        <span class="badge bg-primary">Автор: {{task.user.name}}</span>
        <span class="badge bg-primary">Дата создания: {{task.created_date}}</span>
        <span class="badge bg-danger">Сложность: {{task.rating}}</span>
    </div>
</div>
<hr class="my-4">
{% endfor %}

{% endblock %}
